<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<title>ログインフォーム</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" />
</head>

<body>
	<div class="container">
		<form class="form-signin" method="post" th:action="@{/login}">
			<h2 class="form-signin-heading">ログインフォーム</h2>
			<br />

			<div th:if="${param.error}" class="alert alert-danger">
				ユーザー名またはパスワードが正しくありません。</div>
			<input type="text" class="form-control" name="username"
				placeholder="ユーザー名を入力してください" required="required"
				autofocus="autofocus" /><br /> <input type="password"
				class="form-control" name="password" placeholder="パスワードを入力してください"
				required="required" /><br />
			<button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
		</form>
	</div>
</body>
</html>